#alien {
    background-color: orangered;
    position: absolute;
    border: 1px solid aquamarine;
    width: 100px;
    height: 100px;}

#alien_shoot {
    background-color: orangered;
    position: absolute;
    border: 2px solid orangered;
    border-radius: 20px;
    width: 1px;
    height: 10px;}
