#heros {
    position: absolute;
    width: 100px;
    height: 52px;}

#shoot {
    background-color: orangered;
    position: absolute;
    border: 2px solid orangered;
    border-radius: 20px;
    width: 1px;
    height: 10px;}
